body {
}
a {
  display: block;
}




.slogan-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 5%;
}

.slogan-text {
  color: darkgray;
  font-size: 35px;
  text-transform: uppercase;
}

.header-pad {
  padding-right: 10%;
  padding-left: 10%;
}
 
.header-bg {
  background-color: rgba(75, 72, 91, 0.7);
}

.header-bg--1 {
  background-color: rgba(75, 72, 91, 1);
}

.info-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

                                    // START gallery


.gallery--gal-style {
  margin-top: 75px;
  margin-bottom: 135px;
  a {
    color: black;
    text-align: center;
  }
}                              

.thumb img {
  -webkit-filter: grayscale(0);
  filter: none;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px;
}

.thumb img:hover {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.thumb {
  padding: 5px;
}
                                  // END gallery

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  margin-top: 10px;
  background-color: rgba(75, 72, 91, 1);
  color: whitesmoke;
  a {
      text-decoration: none;
      color: whitesmoke;
  }
}



// .flex__end {
//   // display: block;
//   // margin-left: auto;
// }

.flex__center {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 992px) {
  .md-outside {
    display: flex;
    flex-direction: row;
    justify-content: right;
    .content-right {
      .info-div { 
        display: flex;
        flex-direction: column;
        justify-content: center;        
      }
    }
  }
  .slogan-bg {
    background: url("../image/background-top.jpg") no-repeat scroll center top #000;
    background-size: cover;
    width: 100%;
    height: 235px;
  }
  .gallery--gal-style {
    margin-bottom: 320px;
  }
  .flex__right {
    display: flex;
    justify-content: center;
  }
  .flex__left {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
  }
}


@media (min-width: 993px) {
  .slogan-bg {
    background: url("../image/background-top.jpg") no-repeat scroll center top #000;
    background-size: cover;
    width: 100%;
    min-height: 400px;
  }
  .flex__right {
    display: flex;
    justify-content: right;
    a {
      margin-left: auto;
    }
  }
  .flex__left {
    display: flex;
    flex-direction: column;
    justify-content: start;    
  }
  
}